<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
	<title>Nina Lee | F2E Developer</title>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/0.9.9/magnific-popup.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>

<!-- Nav Menu -->
<!-- navigation -->


	<nav id="navbar" role="navigation" class="navbar--fixed">
		<span id="toggle" class="icn--nav-toggle is-displayed-mobile">
			 <b class="srt">Toggle</b>
		</span>
		<span class="is-displayed-mobile navbar-titile">IKEA LEE</span>
		<ul id="toggle-menu" class="nav is-collapsed-mobile centered">
			<li class="nav__item nav__item--current"><a href="#home">Home</a></li>
			<li class="nav__item"><a href="#about">About Me</a></li>
			<li class="nav__item"><a href="#works">Works</a></li>
			<li class="nav__item"><a href="#hireMe">Contact Me</a></li>
		</ul>
	</nav>

<!--   Hero Banner -->
<div class="grid section" id="home">
	<div class="grid__col--12 centered">
		<img class="img--hero" src="img/header.jpg" alt="hero image: Nina with some flat illuatration disk elements">
	</div>
</div>



 <div class="grid section" id="about">
   {% include './partials/about.html'%}
 </div>
 <div class="grid section" id="works">
 	<h1>Works</h1>
	{% include './partials/work.html' %}
 </div>
 <div class="grid section" id="hireMe">
	<h1>Contact Me</h1>
 </div>


 <script src="js/app.js"></script>

</body>
