  <h1>About Me</h1>
  <div class="grid__col--4">
    <img class="img--avatar" src="img/ikea_avatar.png" alt="Nina ikea avatar" style="width: 300px; height: 300px">
  </div>

  <div class="grid__col--8">
    <h2>Nina Lee</h2>
    <h4>UX/UI designer and front-end engineer in Tainan,Taiwan</h4>
    <h4 class="social-link">
      <a href="https://github.com/jellynina/" target="_blank"><i class="icn-github"></i></a>
      <a href="https://twitter.com/jellynina/" target="_blank"><i class="icn-twitter"></i></a>
      <a href="http://instagram.com/jellynina/" target="_blank"><i class="icn-instagram"></i></a>
      <a href="https://tw.linkedin.com/in/jellynina" target="_blank"><i class="icn-linkedin2"></i></a>
    </h4>
    <p>
      My main job is to maintain the user interface and support, improve the user experince of the software.
    </p>
    <p>
      I enjoy breaking problem into small pieces, and then making some  tools as a solution. Creating something fun and wonderful is the most exciting thing for me. Unicore, talking candy and little magic creature are living in my mind palace.
    </p>
  </div>
