<form class="form" action="mailto:jellynina@gmail.com?subject=Form jellynina.me Visitor" enctype="text/plain" method="post">
  <label class="form__label--hidden" for="name">Name:</label>
  <input class="form__input" type="text" id="name" name="name" placeholder="Name">

   <label class="form__label--hidden" for="email">Email:</label>
   <input class="form__input" type="email" id="email" name="email" placeholder="email@domain.com">

   <label class="form__label--hidden" for="msg">Message:</label>
   <textarea class="form__input" id="msg" name="msg" placeholder="Message..." rows="5"></textarea>

   <input class="btn--default" type="submit" value="Submit">
   <input class="btn--warning" type="reset" value="Reset">
</form>
