<ul class="item-list" id="projects">
  {% for project in projects %}
  <li class="project-item">
    <figure class="project-cover" title="{{project.name}}" data-project-id="{{project.id}}">
      {% if project.covers[404] %}
      <img class="project-image" src="{{ project.covers[404] }}" alt="" >
      {% elseif project.covers[230] %}
      <img class="project-image" src="{{ project.covers[230] }}" alt="" >
      {% else %}
      <img class="project-image" src="{{ project.covers[202] }}" alt="" >
      {% endif %}
    </figure>
    <h3> {{ project.name }} </h3>
    <h6> {{ project.fields }} </h6>
  </li>
  {% endfor %}

</ul>
